# A renseigner dans Vercel : Project > Settings > Environment Variables
# (ou en local :  vercel env add <NOM>  /  vercel env pull .env.local)

KEYYO_CLIENT_ID=6a2407d6d65c9
KEYYO_CLIENT_SECRET=f7ef03477334f6fcda947896
KEYYO_REFRESH_TOKEN=65d74d92cc9e688e614d2072f893464e78b75712
 
KEYYO_API_BASE=https://api.keyyo.com/manager/1.0
KEYYO_TOKEN_URL=https://api.keyyo.com/oauth2/token.php
 
KEYYO_SERVICES=33175433361=Tana,33253359565=Antsirabe
 
KEYYO_HISTORY_DAYS=120
KEYYO_SEND_DATE_FILTERS=1
KEYYO_FILTER_BEGIN=date_begin
KEYYO_FILTER_END=date_end
TZ=Europe/Paris